/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

/* Setter font type, og max width for hele nettstedet */
body {
    font-family: 'Mulish', sans-serif;
    max-width: 1600px;
}


/* grid-container som inneholder header, main og footer */
#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}


/* Styler header-seksjonen */
header {
    font-size: 20px;
    grid-area: header;

}

/* Styler logo */
#logo img, #logoo img {
    width: 120px;
    height: auto; 
}

/* Gjør navigasjonselementene i header til flexbokser som er justert mellomrom og til høyre */
header nav {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 1rem;

}

/* Styler navigasjonsmenyen */
.navbar {
    list-style: none; 
    padding: 0; 
    
}

.navbar li {
    margin-bottom: 1rem;
}

.navbar li a {
    text-decoration: none;
    color: black;
}


/* Styler kontakt-knappen */
.contact-btn {
    text-decoration: none;
    background-color: #e6bd43;
    font-weight: bold;
    color: black;
    padding: 0.3rem;

}

/* Styler hovre-effekter på knapper */
.contact-btn:hover, .banner-btn:hover, #newsletter .sign-btn:hover, .touch-btn:hover, button:hover, .read-more-btn:hover, .explore-btn:hover{
    background-color: #252525;
    color: #e6bd43;
}

/* Styler banner  */
#banner-index, #banner-products, #banner-about {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0;
    height: 400px;
    object-fit: cover;
}

/* Styler overlay for bannerbildene*/
#banner-index .overlay-index, #banner-products .overlay-products {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
}

/* Styler banner video */
#myVideo {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover; 
    
}

.video-container {
    overflow: hidden;
}

/* Styler banner bilde på index */
#banner-image {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 400px;
    
}

/* Styler banneroverskrifter og knapper på index */
#banner-index h1 {
    font-size: 50px;
    margin: 0;

}

#banner-index p {
    font-weight: lighter;
    font-size: 15px;

}
  
.banner-btn {
    padding: 10px 10px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    font-weight: bold;
    
}



/* Styler read more about us knapp på index */
.read-more-btn {
    border: 2px solid #000;
    background-color:#e6bd43;
    color:#000;
    padding: 15px 12px;
    font-size: 16px;
    text-decoration: none;
    border-color: #000;
    font-weight: bold;
}

/*styler hovre effekt */
/* .read-more-btn:hover, .explore-btn:hover{
    background-color: #252525;
    color:#e6bd43;
    font-weight: bold;
} */
  

#engaging{
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
}

/* Styler main-seksjonen i gridet */
main {
    grid-area: main;
}

/* Styler services -seksjonen  */
#services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
    min-height: 300px; 
    align-items: center;
    text-align: center;

}


#services h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;

}

#services article {
    max-width: 300px;
    width: 100%;
    min-width: 200px;
}


/* styler flex-section med bilde og tekst*/
.flex-section {
    display: flex;
    flex-direction: column; 
    background-color: #e6bd43;
    padding: 3rem;
    align-items: center;
}

.flex-section img {
    height: auto; 
    max-width: 400px; 
    width: 100%; 

}

.flex-section section {
    padding: 1rem;
    width: 100%; 
    /* margin-top: 10px;  */
}

.flex-section section p {
    margin-bottom: 40px; 
}


/* styler newsletter seksjon */
#newsletter{
    display: flex;
    flex-direction: column;
    background-color: #d7d7d7bd;
    padding-bottom: 40px;
    padding-top: 40px;
}

#newsletter h2{
    text-align: center;
    font-size: 30px;

}

#newsletter article{
    align-self: center;
}

#newsletter article input{
    padding: 10px;
    border: none;

}

/* styler knapp*/
#newsletter .sign-btn {
    background-color: #e6bd43;
    font-weight: bold;
    color: black;
}

/* Footer-styling */
footer {
    background-color: #252525;
    color: white;
    text-align: center;
    padding: 1rem;
    grid-area: footer;


}

/* Stil for footer seksjon */
footer section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

/* Stil for sosiale medie-ikoner */
.social-media-icons {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    padding-inline-start: 0;
}

.social-media-icons i {
    font-size: 25px;
    color: white;
    text-align: center;

}



/* styler explore sekjon på products siden */
#explore{
    display: flex;
    flex-wrap: wrap;
}

/* Styler for knappene på products side */
.explore-btn {
    display: inline-block;
    padding: 10px 20px; 
    text-decoration: none;
    color: black; 
    border: 2px solid black; 
    background-color: white; 
    margin-left: 20px; 

}

/* styler strek på products siden */
hr {
    border: none;
    height: 3px;
    background-color: #e6bd43;
    margin: 20px 0;
    width: 100%;
    margin-inline: 20px

}

/* styler banner bilde på products siden og about siden */
#banner-products  img, #banner-about  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* styler skriften på banner på produtksiden */
#banner-products h1 {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin: 0;  
    transform: translate(-50%, -50%);
}

/* styler branding, design, development */
.branding, .design, .development {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.branding article, .design article, .development article {
    max-width: 692px;
    flex-grow: 1;
    padding: 20px;

}

.branding article img, .design article img, .development article img  {
    width: 100%;

}

/* stil som gjør at artikelkortene vokser */
.branding article:hover, .design article:hover, .development article :hover {
    transform: scale(1.05); 
    transition: transform 0.6s ease; 
}


.branding h2, .design h2, .development h2, #explore h2{
    margin-inline: 20px;
}

.branding, .design, .development {
    justify-content: initial;
    text-align: left;
}


/* Styler overlay for about side */
#banner-about .overlay-about {
    position: absolute;
    width: 47%;
    height: 70%;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
}

#banner-about .overlay-about h1 {
    font-size: 20px;
}

#banner-about .overlay-about h2, #banner-about .overlay-about p {
    font-size: 13px;
    text-align: left;
    font-weight: lighter;
    margin: 5px 0; 
}


/* Styler knapper på about side */
.touch-btn, button{
    text-decoration: none;
    background-color: #e6bd43;
    font-weight: bold;
    color: black;
    padding: 0.7rem;
    font-size: 15px;
    margin-top: 10px; 
    border: none;

}

/* styler clients seksjon på about side*/
#clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e6bd43;
    justify-content: center; 
    align-items: center; 
    padding: 30px; 

}

#clients h2 {
    width: 100%;
    text-align: center;
    font-size: 35px;
}

#clients article {
    margin: 20px;
}

#clients article img {
    width: 150px; 
    height: 300px; 
    height: auto;
    align-items: center;
    text-align: center;
}

/* styler ikon*/
.fa-solid {
    font-size: 30px;
}

/* styler ikon på kontaktinfo seksjon */
#contact-information .fa-solid {
    font-size: 20px;
}

/* styler contact us seksjon på about side*/
#contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f3f3;
    padding: 40px;
}

#contact-us h2 {
    text-align: center;
    font-size: 35px;
    width: 100%;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 900px; 
    margin: 0 auto; 
}

/* styler form og contact-information */
#form, #contact-information {
    max-width: 100%; 
}

label {
    display: block;
    margin-bottom: 5px;
}

/* styler form  */
#form input,#form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
}

#contact-information ul {
    list-style: none;
    padding: 0;
}

#contact-information li {
    margin: 10px 0;
    display: flex;
}

#contact-information i {
    margin-right: 15px;
    color: #000;

}

/* styler kart */
.google-map {
    width: 100%; 
    height: 250px; 
}

.google-map iframe {
    width: 100%;
    height: 100%;
}

/* styler skip to top knapp */
.skip {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #252525;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    padding: 15px;
}

/* stil for menyknappene  */
.active {
    border-bottom: 3px solid #e6bd43;
    font-weight: 900;
}



/* Mediestørrelsesregel for skjermer som er bredere enn 600px */
@media only screen and (min-width: 600px) {

    /* Endrer grid-malen for bredere skjermer */
    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    /* navigasjonsmenyen for bredere skjermer */
    header nav {
        flex-direction: row;
        justify-content: space-between;

    }

    /* Justerer utseendet på flex-seksjoner for bredere skjermer */
    .navbar {
        display: flex;
        gap: 1rem;
        list-style: none;
        margin: 0;

    }

    .flex-section {
        flex-direction: row; 
    }

    .flex-section section {
        width: 60%; 
        margin-top: 0; 
    }

    /* Justerer footer-seksjonen for bredere skjermer */
    footer section {
        flex-direction: row;
        justify-content: space-between; 
        align-items: center; 
    }

    .social-media-icons {
        align-items: center;
        justify-content: center; 
        padding: 0; 
    }

    .contact-container {
        flex-direction: row;
    }

     /* form og contact-information for bredere skjermer */
    #form, #contact-information {
        flex: 1; 
    } 

}

/* Mediestørrelsesregel for skjermer som er smalere enn 768px */
@media only screen and (max-width: 768px) {

    /* overlay-stilen for banneren på about siden for mindre skjermer */
    #banner-about {
        position: relative;
        text-align: center;
        overflow: hidden;
        padding: 0;
        height: 500px;
        object-fit: cover;
    }
    
    #banner-about .overlay-about {
        position: absolute;
        width: 70%;
        height: 80%;
        top: 50%;
        left: 50%;
    }

    /* Skjuler videoen på mindre skjermer på index */
    #myVideo {
        display: none;
    }

    /* Viser bannerbildet på index på mindre skjermer */
    #banner-image {
        display: block;
    
    }

    /* stilene for Explore knappene  */
    .explore-btn {
        margin-right: 5px; 
        margin-left: 20px;
        margin-bottom: 20px;
    }

    /* setter litt mer padding  */
    #engaging, #newsletter h2, #banner-index p, #banner-index h1 {
        padding: 0 30px;
    }

    .flex-section {
        flex-direction: column; 
    }

    /* gjør hovre-efekter/ klikke-effekter på knapper på mindre skjermer, tilbake til standard */
    .contact-btn:hover, .banner-btn:hover, #newsletter .sign-btn:hover, .touch-btn:hover, button:hover, .read-more-btn:hover, .explore-btn:hover{
        background-color:  #e6bd43;
        color:#000;
    }

  .read-more-btn:hover, .explore-btn:hover{
        background-color: initial;
        color:#000;
    }   
  
}

/* Tar vekk hovrer på artikkekortene, kilde: https://www.w3.org/TR/mediaqueries-4/#hover */
@media (hover: none) {
    .branding article:hover,  .design article:hover, .development article:hover {
        transform: none; 
        transition: none; 
    }
}

/* Mediestørrelsesregel for skjermer som er smalere enn 500px */
@media only screen and (max-width: 300px) {

    /* Justerer bannerknapp og newsletterfelt for enda mindre skjermer */
    .banner-btn {
        padding: 8px 16px; 
        font-size: 15px;
    }

    #newsletter article input{
        margin: 5px;

    }

}


